body::-webkit-scrollbar {
  display: none;
}
.bg-color {
  background-color: #591D1D;
}

input {
  border: whitesmoke;
  border-radius: 5%;
  border-color: white;
  border-width: bold;
}
.btn:hover{
  background-color: #564949;
}
.w-full {
  width: 500px;
}

.link {
  text-decoration: inherit;
  color: rgb(30, 216, 30);
}
.link:hover {
  text-decoration: inherit;
  color: rgb(162, 244, 162);
}
li{
  list-style: none;
}
.active {
  color: #564949;
  background-color: #b44646;
}

.navbar-toggler {
  color: #b44646;
  background-color: antiquewhite;
}

.navbar-toggler:hover {
  color: #564949;
  background-color: #b44646;
}

.nav-item:hover {
  color: #564949;
  background-color: #b44646;
}

.hover:hover {
  background-color: #591D1D;
  color: antiquewhite;
}

.nav-link {
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}